*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}

.clear{
	clear: both;
}

header{
	padding: 30px 2%;
	width: 100%;
	height: 80vh;
	max-height:  500px;
	background-size: cover;
	background-image: url('../imagens/capa.png');
	font-weight: 300;
	min-height: 600px;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
}


header nav{
	float: right;
}

header nav.desktop ul{
	list-style-type: none;
}


header nav.desktop li{
	float: left;
	padding: 0 15px;
}

header nav.desktop ul a{
	color: white;
	text-decoration: none;
}

nav.mobile{
	display: none;
	width: 32px;
	height: 32px;
	background-image: url('../imagens/menu.png');
	background-size: 100% 100%;
}

nav.mobile ul{
	display: none;
	background-color: white;
	position: absolute;
	width: 100%;
	left: 0;
	top: 80px;
	list-style-type:none;
	text-align: center;

}

nav.mobile ul a{
	text-decoration: none;
}

nav.mobile ul li{
	padding: 5px 0;
	border-bottom: 1px solid black;
}

nav.mobile:hover ul{
	display: block;
	opacity: 1;
	animation-duration: 0.8s;
}

nav.mobile:hover li{
	background-color: rgb(230,230,230);
}

header .logo{
	margin-top: -30px;
	position: relative;
	top: -2px;
	height: 150px;
	width: 250px;
	background-image: url('../imagens/logo.png');
	background-repeat: no-repeat;	
	background-size: contain;
	float: left;
}

.chamada1{
	max-width: 500px;
	float: right;
	margin:115px 120px;
}

.chamada1 h2{
	font-size: 40px;
	color: white;
	font-weight: normal;
	font-weight: 300;
}

.chamada1 p{
	color: white;
	font-size: 15px;
	margin-top: 10px
}

section.sessao1{
	width: 100%;
	background-color: #472562;
	padding: 0 2%;
	height: 400px;

	
}

section.sessao1 .container{
	max-width: 900px;
}

.texto-sessao1{
	
	float: left;
	color: white;
	margin-top: 60px;
	position: relative;
	left: 55px;
}

.texto-sessao1 h2{
	font-weight: 300;
	font-size: 26px;
}

.texto-sessao1 p{
	margin-top: 30px;
	font-size: 20px;
	font-weight: 300;
}

.texto-sessao1 ul{
	margin-top: 20px;
	font-size: 15px;
	list-style-position: inside;
}

.texto-sessao1 ul li{
	padding-left: 20px;
	width: 100%;
	margin-top: 8px;
	text-align: left;
	
	
}

.device-sessao1{
	float: left;
	width: 50%;
	height: 430px;
	background-image: url('../imagens/device.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	top: -30px;
}

.btn1-texto{
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	color: white;
	cursor: pointer;
	margin-top: 30px;
	text-align: center;
	line-height: 44px;
	border-radius: 30px;
	font-size: 13px;

}


.sessao2{
	padding-top: 90px 2%;
	background-color: white;
	text-align: center;
}

.sessao2 h2{
	color: #472663;
	font-size: 300;
}

.sessao2 p{
	margin-top: 10px;
	max-width: 700px;
	display: inline-block;
	text-align: justify;
}

.sessao2 .container{
	max-width: 900px;
}

.sessao2 .container img{
		padding-top: 1px;
		position: relative;
		top: 110px;

	}


.sessao3 {
	width: 100%;
	top: -30px;
}	

.parte1{

	float: left;
	width: 50%;
	color: white;
	padding: 140px 0 90px 0;
	background: #835FA7;
}

.parte1 h2{
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
}

.parte1 p{
	font-size: 16px;
	margin-top: 20px;
	line-height: 30px;
}

.wraper-parte1{
	max-width: 500px;
	float: right;
	padding:0 30px;

}


.parte2{
	float:left;
	width:50%;
	padding: 140px 0 90px 0;
	background:white;

}

.texto-autor{
	float: left;
	max-width: 600px;
	padding-left: 30px;
	padding-top: 15px;

}

.titulo-autor{
	float: left;
	width: 100%;
}

.wraper-titulo-autor{
	float: left;

}

.titulo-autor h2{
	color: #232323;
	padding-left: 20px;
	font-size: 20px;
	float: left;
	padding-right: 20px;

}



.titulo-autor p{
	font-size: 15px;
	color: #232323;
	font-style: italic;
	font-weight: 300;
	padding-left: 30px;

}

.titulo-autor .img-autor{
	position: relative;
	background-image: url('../imagens/almir.png');
	background-size: 100% 100%;
	top: -10px;
	float: left;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border-radius: 30px;
	
}

.slider-bullets{
	float: left;
	margin-top: 8px;
	margin-left: 30px;
}

.slider-bullets span{
	width: 16px;
	height: 16px;
	float: left;
	background-color: rgb(200,200,200);
	margin-right:  8px;
	border-radius: 8px;
	cursor: pointer;


}

.sessao4 {
	background-color: #472563;
	padding:100px 0; 
}

.form{
	float: left;
	width: 50%;
	padding-left: 10px;
}

.form h2{
	color: white;
	font-size: 23px;
	font-weight: 300;
}

.form form{
	margin-top: 15px;
}	

.form p{
	font-size: 15px;
	font-weight: 300;
	color: white;
	max-width: 400px;
	padding-right: 10px;
}

.form form textarea{
	width: 90%;
	max-width: 480px;
	padding: 15px;
	border:1px solid rgb(200,200,200);
	height: 160px;
	margin-top: 8px;

}

.form form input[type=text]{
	width: 90%;
	max-width: 480px;
	height: 58px;
	padding-left: 8px;
	line-height: 58px;
	border:1px solid rgb(200,200,200);
	margin-top: 5px;
}

.form form input[type=submit]{
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	font-size: 13px;
	color: white;
	cursor: pointer;
	margin-top: 15px;
	border-radius: 30px;
	border:0;
}

.map-wraper{
	float: left;
	width: 50%;
	color: white;
	padding: 0 10px;
}

.map-wraper h2{
	font-size: 23px;
	font-weight: 300;
	color: white;
}

.map-wraper2{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 100%;
}

.map-wraper3{
	margin-top: 10px;
	width: 100%;
	max-width: 480px;
	position: relative;
}

.map{
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	border:5px solid rgb(200,200,200);
}


footer{
	padding: 40px 0;
	background: #192123;
	color: white;

}


footer p:nth-of-type(1){
	float: left;
	padding-left: 30px;
}

footer p:nth-of-type(2){
	float: right;
	padding-right: 30px;
}

/*_________________________________________________*/

@media screen and (max-width:  768px){
	
	nav.desktop{
		display: none;
	}

	nav.mobile{
		display: inline-block;
	}

	header{
		width: 100%;
		height: auto;
	
	}


	.chamada1{
		max-width: none;
		width: 100%;
		text-align: center;
		float: none;
		margin:100px 0;
	}

	section.sessao1{
		padding: 40px 2%;
		height: auto;
		text-align: center;
	}

	.chamada1 h2{
		font-size: 30px;
	}

	.texto-sessao1{
		padding-left: 0;
		float: none;
		position: static;
		width: 100%;
		margin-top: 0;
		display: inline-block;
	}

	

	.texto-sessao1 ul{	
		margin-top: 20px;
		display: inline-block;
		width: auto;
	}


	section.text-sessao1 ul li{
		margin-top: 20px;
		display: inline;
		float: none;		
		text-align: left;
		
	}

	.btn1-texto{
		display: inline-block;
	}
	
	.device-sessao1{
		display: none;
	}

	.sessao2 {
		padding: 40px 2% ;
		font-size: 15px;
	}

	.sessao2 .container p{
		padding-left: 20px;
		padding-right: 20px;
	}

	.sessao2 .container img{
		max-width: 99%;
	}

	.form{
		width: 100%;
	}

	.map-wraper{
		margin-top: 20px;
		width: 100%;
		padding: 0 4;
	}

	section.sessao4 .container{
		text-align: center;
	}
	
	.form  p{
		display: inline-block;
	}

	.map-wraper3{
		display: inline-block;
		width: 90%;
		padding-top: 90%;
		max-width: none;
	}

	header .logo{
		width: 200px;
		height: 300px;
	}


}

@media screen and (max-width: 580px){
	.parte1{
		float: none;
		width: 100%;
		padding: 40px 0;
	}

	.parte2{
		float: none;
		width: 100%;
		padding: 80px 0;
	}


	footer{
		text-align: center;
	}

	footer p:nth-of-type(1){
		float: none;
		padding: 0
	}
	
	footer p:nth-of-type(2){
		float: none;
		padding: 0;
		margin-top: 0;
	}



	

}