*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif; 
}

.clear{
	clear: both;
}

html,body{
	height: 100%;
}

.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
/*--------------------------------------------------------------------------------------------------------------*/

/*Trabalhando com Header do Site*/

header{
	padding: 20px;
}

header ul a{
	color: #b4b4b4;
	text-decoration: none;
}

header .logo{
	float: left;
	width: 150px;
}

header nav.menu-mobile{
	display: none;
	float: right;
	width: 30px;
	height: 30px;
	background-image: url('../imagens/image_mobile.png');
	background-size: 100% 100%;
	cursor: pointer;
}

header nav.menu-mobile ul{
	display: none;
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	background-color: white;
	text-align: center;
	width: 100%;
	list-style-type: none;
	top: 60px;
	color: #b4b4b4;
	text-decoration: none;
}

header nav.menu-mobile ul li{
	padding: 10px 0;
}

header nav.menu-mobile ul li{
	text-transform: uppercase;
}

header nav.menu-mobile:hover ul{
	background-color:#9b9b9b;
	display: block;
	color: white;
}

header nav.menu-desktop{
	float: right;

}

header nav.menu-desktop ul{
	list-style-type: none;
	padding: 8px 0;
}

header nav.menu-desktop ul li{
	float: left;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 20px;
}

header nav.menu-desktop ul a{
	text-decoration: none;
	color: #b4b4b4;
}

/*Trabalhando com Header do Site*/
/*--------------------------------------------------------------------------------------------------------------*/
/*section mosaico*/
section.mosaico .single{
	float: left;
	width: calc(100% / 6);

}

section.mosaico .img-mosaico-single{
	width: 100%;
	padding-top: 100%;
	background-color: #ccc;
	border: 5px solid white;
}

/*section mosaico*/
/*--------------------------------------------------------------------------------------------------------------*/
/*section servicos*/

section.servicos > .container{
	max-width: 800px;
	display: flex;
	align-items: center;
	top:-30px;
	position: relative;
	text-align: center;
}

section.servicos >.container .box-servico h2{
	color: white;
	font-weight: normal;
	font-size: 15px;
	text-transform: uppercase;
}

section.servicos > .container .box-servico p {
	color: white;
	font-weight:normal;
	font-size: 12px;
	margin-top: 10px;
	padding-top: 10px;
}

section.servicos > .container .box-servico{
	background-image: url(../imagens/icone_dente.png);
	background-size: : 15px 15px;
	background-position: center calc(100% - 2px);
	background-repeat: no-repeat;

}

section.servicos > .container .box-servico:nth-of-type(1){
	width: 30%;
	padding: 30px 2%;
	background-color: #576975;
}

section.servicos > .container .box-servico:nth-of-type(2){
	width: 40%;
	padding: 50px 2%;
	background-color: #688293;
	background-image: none;
}

section.servicos > .container .box-servico:nth-of-type(3){
	width: 30%;
	padding: 30px 2%;
	background-color: #576975;
}

/*section servicos*/
/*--------------------------------------------------------------------------------------------------------------*/
/*section perfil-container*/

section.perfil-container  .perfil-wraper{
	padding-top:  50%;
	position: relative;

}

section.perfil-container .container{
	max-width: 800px;
}

section.perfil-container .texto-perfil{
	width: 50%;
	padding: 0 30px;
	margin-top:25px;
}

section.perfil-container .texto-perfil h2{
	color: #698293;
	font-size: 18px;
}

section.perfil-container .texto-perfil p{
	color: rgb(192,192,192);
	font-size: 14px;
	
	text-align: justify;

}

section.perfil-container .container .perfil-wraper2{
	position: absolute;
	display: flex;

	left: 0;
	top: 0;	
	width: 100%;
	height: 100%;
	color: #4b4b4b;
	font-size: 14px;
	
}

section.perfil-container .img-perfil{
	width: 40%;
	height: 100%;
	background-image: url('../imagens/img_perfil.png');
	background-size: 100% 100%;
}


/*section perfil-conainer*/
/*--------------------------------------------------------------------------------------------------------------*/

/*section videos*/

section.videos{
	padding: 50px 0;
}

section.videos .box-video{
	position: relative;
	float: left;
	width: 33.3%;
	padding-top: calc(33.3% *0.6);
	border:5px solid white;
}

section.videos .box-video iframe{
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

/*section videos*/
/*--------------------------------------------------------------------------------------------------------------*/
/*section tratamento*/



section.tratamento .tratamento-single{
	padding:20px;
}

section.tratamento h2{
	text-align: center;
	font-size: 20px;
	color: #737373;
	padding-bottom: 30px;
}

section.tratamento .tratamento-single h2{
	font-size: 18px;
	color: #737373;
}

section.tratamento .container{
	padding: 50px;
}

section.tratamento p{
	font-size: 13px;
	color: #b4b4b4;
}


section.tratamento .container .tratamento-container{
	float: left;
	width: 33.3%;
}

/*section tratamento*/
/*--------------------------------------------------------------------------------------------------------------*/
/*Section depoimentos */

section.depoimentos > h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
}


section.depoimentos .container{
	padding: 70px 0;
	max-width: 400px;
}

section.depoimentos .depoimentos-single{
	text-align: center;
}

section.depoimentos .depoimentos-single quote{
	font-size: 15px;
	color: #b4b4b4;
	padding: 0 5px;
}

section.depoimentos .depoimentos-single .nome-depoimento{
	padding: 19px 0;
}

section.depoimentos .nome-depoimento img{
	width: 32px;
	height: 32px;
	border-radius: 16px;
}

section.depoimentos .nome-depoimento span{
	font-size: 13px;
	color: #b4b4b4;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 4px;
}
/*Section depoimentos */
/*--------------------------------------------------------------------------------------------------------------*/
/*section social*/
section.social .instagram-chamada{
	float: left;
	width: 100%;
	text-align: center;
	padding: 40px 0;
	background-color: #98a5ae;
}

section.social .instagram-chamada p{
	color: white;
	padding: 10px 0;
	font-size: 13px;
}

section.social .mosaico-social{
	float: left;
	width: 100%;
}

section.social .img-mosaico-single {
	float: left;
	width: calc(100% /9);
	padding-top: calc(100% /9);
	background-color: red;
	border: 2px solid white;
}

section.social .facebook-chamada{
	float: left;
	width: 100%;
	text-align: center;
	padding: 40px 0;
	background-color: #97a5ae;
}

section.social .facebook-chamada p{
	color: white;
	padding: 10px 0;
	font-size: 13px;
}


/*section social*/
/*--------------------------------------------------------------------------------------------------------------*/


/*section contato --------------------------------------------------------------------------------------------*/



section.contato{
	padding:60px 2%;
}

section.contato > h2{
	color: #698293;
	text-align: center;
	font-size: 18px;

}

section.contato form{
	width: 100%;
	max-width: 500px;	
	margin:30px auto;
	
}

section.contato span{
	font-size: 15px;
	color: #b4b4b4;
	text-align: left;
}


section.contato .wraper-contato{
	float: left;
	margin-top: 10px;
	padding: 0 10px;
}

section.contato .w100{
	width: 100%;

}

section.contato .w50{
	width: 50%;
}

section.contato .container .wraper-contato{
	text-align: left;
}



section.contato .wraper-contato input[type=text]{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 9px;
	border: 1px solid #dadada;
	margin-top: 8px;
}

section.contato .wraper-contato textarea{
	width: 100%;
	padding: 8px;
	height: 121px;
	resize: none;
	border: 1px solid #dadada;
}

section.contato .wraper-contato input[type=submit]{
	color: white;
	background-color: #688293;
	border: 0;
	width: 100px;
	height: 35px;
	cursor: pointer;
	display: inline-block;

}

footer{
	background-color: #688293;
	padding: 40px 0;

}

footer .footer-block{
	float: left;
	width: 33.3%;
}


footer .footer-block h2{
	color: white;
	font-weight:  normal;
	font-size: 18px;
	margin-top: 10px;
}

footer .footer-block p{
	color: white;
	font-size: 14px;
	margin-top: 10px;

}


/*section contato --------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px){
	section.social .img-mosaico-single {
		width: calc(100% /6);
		padding-top: calc(100% /6);
	}
	section.social .mosaico-social >div:nth-of-type(1n+7){
		display: none;
	}

}

/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px){

	header nav.menu-desktop{
		display: none;
	}

	header nav.menu-mobile{
		display: block;

	}

	

	section.servicos > .container{
		flex-direction: column;
	}

	section.servicos > .container .box-servico:nth-of-type(1){
		width: 90%;
		max-width: 350px;
		padding: 30px 2%;
		background-color: #576975;
	}

	section.servicos > .container .box-servico:nth-of-type(2){
		width: 94%;
		max-width: 380px;
		padding: 30px 2%;
		background-color: #688293;
		background-image: none;
	}

	section.servicos > .container .box-servico:nth-of-type(3){
		width: 90%;
		max-width: 350px;
		padding: 30px 2%;
		background-color: #576975;

	}

	section.servicos > .container .box-servico{
		background-size: : 10px 10px;
		background-position: center calc(100% - 2px);
	
	

	}

	section.perfil-container .container .perfil-wraper2{
		display: inline-block;
		text-align: center;
		position: static;
		height: auto;
	}

		section.perfil-container  .img-perfil{
		width: 70%;
		display: inline-block;		
		padding-top: 100%;
		height: auto;	

	}	

	section.perfil-container  .texto-perfil{
		display: inline-block;
		width: 100%;
		padding: 0 30px;
		
	}

	section.perfil-container .perfil-wraper{
		padding-top: 0;
	}

	section.videos{
		text-align: center;
		
	}

	section.videos .box-video{
			display: inline-block;
			float: none;
		width: 70%;
		padding-top: calc(70% *0.6);
	}

	section.videos .box-video iframe{

		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	section.social .img-mosaico-single {
		width: calc(100% /3);
		padding-top: calc(100% /3);
	}
	section.social .mosaico-social >div:nth-of-type(1n+4){
		display: none;
	}

	footer {
		text-align: center;
	}

	footer .footer-block{
		float: none;
		display: inline-block;
		width: 100%;
	}

}




/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 580px){
	section.perfil-container .img-perfil{
		width: 80%;
		padding-top: 110%;
		display: inline-block;
		height: auto;
	}

	section.videos .box-video{
		width: 100%;
		padding-top: calc(100% * 0.6);
	}

	section.contato .w50{
		width: 100%;
	}
}

@media screen and (max-width: 480px){
	header .logo img{
		width: 200px;
	}

	
}
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/