*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

div.box{
	width: 300px;
	height: 300px;
	position: relative;
	background-color: green;

}

div.box:hover{
	animation-name: animacao_1;
	animation-duration: 4s;
	animation-iteration-count: 2;
	/*animation-delay: 2s;*/
}

@keyframes animacao_1{
	/*from{
		background-color: green;
	}
	to{
		background-color: red;
	}*/

	0%{
		left: 0;
		top: 0px;
		background-color: green;
	}

	25%{
		left: 100px;
		top: 10px;
		background-color: blue;
	}

	100%{
		left: 0%;
		top: 0px;
		background-color: red;
	}




}

div.box2{
	    position: relative;
		width: 200px;
		height: 200px;
}

div.box2 img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

div.box2 p{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: green;
	transition: 1s;
	opacity: 1;
}

div.box2 p:hover{
	opacity: 0.4;
}

div.box3 {
	text-align: center;
	margin-bottom: 200px;
}

div.box3 img{
	width: 40%;
	/*box-shadow: 20px 20px 5px 5px rgb(130,130,130);*/
	animation-name: animacao2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes animacao2{
	50%{
		box-shadow: 30px 20px 40px 40px rgb(110,110,110);
	}
	100%{
		box-shadow: 0px 0px 0px 0px rgb(130,130,130);
	}
}